<h1>Da Burgers</h1>

<h2>Available</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <p>{{this.burger_name}}</p>
    {{> burgers/burger-block.handlebars ate=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
<p>{{this.burger_name}}</p>
{{> burgers/burger-block.handlebars ate=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Available?</label><br>
    <input type="radio" name="ate" value="1" checked> Devoured!<br>
    <input type="radio" name="ate" value="0"> Not Yet Devoured!
  </div>

  <button type="submit">Add Burger</button>


  
</form>
