body{
    background-color: burlywood;
}

h2{
    font-family: monospace;
    color: cornsilk;
}

.container{
}


.devouredBurgers{
    float: left;
    padding-left: 15%;
}

.availableBurger{
   float: right;
   padding-right: 25%;
}

.addBurger{
    justify-content: center;
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background-image: radial-gradient(lightgrey, darkred);
}

.create-form{
    justify-content: center;
    position:absolute;
   bottom:0;
   width:100%;
   height: fit-content;
   background-image: radial-gradient(lightgrey, darkred);
}